{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Über uns</h1>
          <span class="subheading">Wir Häckeln und Stricken aus Leidenschaft</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

        <p>
         Wir sind Manuela & Evelyne und unsere liebe Mama Ruth, die uns tatkräftig mit Stricken unterstützt.</p>
<p>
  <img src="static/assets/img/ueber2.png" /><br>
Wir sind Schwestern und haben 2014 mit Häckeln angefangen. Nachdem alle Kinder (wir haben insgesamt 6 :) sowie alle Erwachsenen unserer Familie mehrfach mit Mützen eingedeckt waren, haben wir uns überlegt die Mützen zu verkaufen.
</p>
<p>

  <img src="static/assets/img/ueber1.jpg" /><br><br>
Unsere Mama macht ihr Hobby Stricken schon fast ewig :) Wir lieben ihre Haussocken, die wir selber zuhause jeden Tag benutzen. Unsere Männer lieben ihre gestrickten Strümpfe. Als unsere Kinder noch klein waren, hat sie allen ihren Enkeln süsse Babysöckchen gestrickt, die alle Kinder liebten ! Weil wir die Sachen von ihr so liebten haben wir sie gebeten, einige Sachen zu machen, damit wir auch die verkaufen können.
</p>
<p>
Um unsere Produkte zu verbreiten, haben wir, wie unter Impressionen zu sehen, Ende 2014 einige Koffer- und Weihnachtsmärkte besucht.
</p>
<p>
Zudem haben wir bei unserer Mama zwei me-cap Partys organisiert, um allen in der Nähe die Möglichkeit zu geben, die Sachen zu probieren und anzuschauen.
</p>
<p>
Wir überaschen mit immer wieder neuen Ideen und Kreationen ! Also besucht uns mal wieder !</p>
<p>
Wir freuen uns !</p>
<p>
Bei Fragen, Kritik, Lob und Anfragen sind wir gerne für euch da !</p>
<p>

euer me-cap Team
        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
